* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #262626;
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* NAVBAR */
.nav,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.61);
  height: 50px;
  padding: 0.5em;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.footer {
  position: relative;
  height: 100px;
  justify-content: center;

  font-size: 1.5rem;
  background-color: #262626;
  padding-bottom: 2em;
}

.menu {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.menu a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover,
a.hover_effect,
a:focus,
a:active {
  color: black;
}
.menu span {
  position: absolute;
  width: 140%;
  height: 25%;
  background-color: white;
  z-index: -1;
  left: -15px;
  top: 0;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: top;
}

a:hover span,
a.hover_effect span,
a:focus span,
a:active span {
  transform: scaleX(1);
}

span:nth-child(2) {
  top: 25%;
  transition-delay: 0.15s;
}
span:nth-child(3) {
  top: 50%;
  transition-delay: 0.3s;
}
span:nth-child(4) {
  top: 75%;
  transition-delay: 0.45s;
}

span:nth-child(5) {
  top: 100%;
  transition-delay: 0.6s;
}
span:nth-child(6) {
  top: 125%;
  transition-delay: 0.75s;
}
span:nth-child(7) {
  top: 150%;
  transition-delay: 0.9s;
}
span:nth-child(8) {
  top: 175%;
  transition-delay: 1.05s;
}
span:nth-child(9) {
  top: 200%;
  transition-delay: 1.2s;
}

/* MAIN CONTENT */
.bg {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dark-bg {
  color: whitesmoke;
  background-color: black;
}

.medium-bg {
  background-color: #262626;
}

.light-bg {
  background-color: #636363;
}

.socials-bg {
  padding-bottom: 4em;
}
.rotate-and-zoom-img-div {
  width: 80vw;
  height: 90vh;
  border: 1px solid black;
  overflow: hidden;
}
.welcome-text {
  position: absolute;
  top: 120px;
  color: rgba(245, 245, 245, 0.712);
  width: 100%;
}

.main-img {
  width: 100%;
  transition: transform 1s;
  margin-top: 8em;
}

.main-img:hover,
.main-img.hover_effect,
.main-img:focus,
.main-img:active {
  transform: scale(1.25) rotate(10deg);
}

.main-img:hover ~ .welcome-text,
.main-img.hover_effect ~ .welcome-text,
.main-img:focus ~ .welcome-text,
.main-img:active ~ .welcome-text {
  opacity: 0;
}

.welcome-card {
  display: none;
}

.bg-img {
  background-image: url("phone-back-and-hand.jpg");
  background-blend-mode: lighten;

  /* background-color: rgba(150, 146, 146, 0.671); */
  color: black;
  display: flex;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 2;
  margin: 0;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.table-img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* .text-container {
  text-align: center;
  width: 80%;
  font-size: 2rem;
} */

.details-table {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.233);
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  font-size: 1rem;
  padding: 0.6em;
}

.table-container:hover .details-table,
.table-container.hover_effect .details-table,
.table-container:focus .details-table,
.table-container:active .details-table {
  height: 25%;
  font-size: 1.2rem;
}

.details-table th {
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* ========================================= */

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: #2a3439b6;
  z-index: 1;
  transition: 0.5s;
}

.card:hover:before,
.card.hover_effect,
.card:focus:before,
.card:active:before {
  bottom: 0;
}

.content {
  position: relative;
  color: rgba(119, 119, 119, 0);
  z-index: 2;
  transition: 0.5s;
}

.card:hover .content,
.card.hover_effect .content,
.card:focus .content,
.card:active .content {
  color: whitesmoke;
}

/* ===================================== */

.box {
  position: relative;
  width: 70%;
  height: 40%;
}

.box h1 {
  margin: 0;
  padding: 0;
  color: rgb(177, 177, 177);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.box span {
  color: blue;
  font-size: 4rem;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box:hover:before,
.box.hover_effect:before,
.box:focus:before,
.box:active:before {
  transform: scaleX(1);
}

.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid blue;
  border-right: 4px solid blue;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

.box:hover:after,
.box.hover_effect:after,
.box:focus:after,
.box:active:after {
  transform: scaleY(1);
  transition-delay: 0.25s;
}

.rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;

  transform: rotate(45deg);
  box-sizing: border-box;
}

.rotated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box:hover .rotated:before,
.box.hover_effect .rotated:before,
.box:focus .rotated:before,
.box:active .rotated:before {
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.rotated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid blue;
  border-right: 4px solid blue;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

.box:hover .rotated:after,
.box.hover_effect .rotated:after,
.box:focus .rotated:after,
.box:active .rotated:after {
  transform: scaleY(1);
  transition-delay: 0.75s;
}

/* ========================================= */
.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 10em;
  padding-bottom: 5em;
  /* margin-top: 40em; */
}

.icon {
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: blueviolet;
  box-shadow: 0 10px 15px -5px blueviolet;
  position: relative;
  overflow: hidden;
}

.icon i {
  line-height: 90px;
  font-size: 2rem;
  transition: all 0.2s;
}

.icon:hover i,
.icon.hover_effect i,
.icon:focus i,
.icon:active i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.icon:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: blueviolet;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.icon:hover:before,
.icon.hover_effect:before,
.icon:focus:before,
.icon:active:before {
  animation: animation 0.7s 1 forwards;
}

@keyframes animation {
  0% {
    left: -100%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

/* ====================================================================== */
.animated-container-bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.animated-container-text {
  width: 80%;
  margin: 0;
  text-align: center;
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  top: 25%;
  left: 50%;
}

.text-2 {
  top: 40%;
  left: 50%;
}

.text-3 {
  top: 48%;
  left: 50%;
}

.text-4 {
  top: 56%;
  left: 50%;
}

.text-5 {
  top: 64%;
  left: 50%;
}

.text-6 {
  top: 72%;
  left: 50%;
}

.animated-box {
  position: absolute;
  top: 80%;
  left: 65%;
  width: 10px;
  height: 10px;
  border: 1px solid #262626;
  animation: animated-boxes 6s ease-in infinite;
  transform: scale(0);
}

.animated-box:nth-child(7) {
  top: 40%;
  left: 25%;
  border-color: whitesmoke;
  animation-delay: 0.5s;
}
.animated-box:nth-child(8) {
  top: 50%;
  left: 75%;
  border-color: fuchsia;
  animation-delay: 1s;
}
.animated-box:nth-child(9) {
  top: 20%;
  left: 80%;
  animation-delay: 1.5s;
}
.animated-box:nth-child(10) {
  top: 85%;
  left: 20%;
  border-color: whitesmoke;
  animation-delay: 2s;
}
.animated-box:nth-child(11) {
  top: 10%;
  left: 30%;
  border-color: fuchsia;
  animation-delay: 2.5s;
}
.animated-box:nth-child(12) {
  top: 65%;
  left: 30%;
  animation-delay: 3s;
}

@keyframes animated-boxes {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0.5;
  }

  100% {
    transform: scale(35) rotate(960deg);
    opacity: 0;
  }
}

/*  =============================================================== */

@media only screen and (min-width: 800px) {
  /* nav and footer */
  .nav {
    height: 100px;
  }
  .footer {
    height: 200px;
  }

  /* animated border part */

  .box h1 {
    font-size: 3rem;
  }

  .box span {
    color: blue;
    font-size: 5rem;
  }
  .rotated {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate(0);
    border: 4px solid rgb(177, 177, 177);
  }

  .rotated:after {
    display: none;
    border: 4px solid rgb(177, 177, 177);
    content: "";
  }
  .rotated:before {
    content: "";
    display: none;
    border: 4px solid rgb(177, 177, 177);
  }
  .box:hover .rotated,
  .box.hover_effect .rotated,
  .box:focus .rotated,
  .box:active .rotated {
    display: block;
    transition-delay: 0.5s;
    animation: rotated 2s infinite;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
  }

  @keyframes rotated {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    /* 
    75% {
      border-color: blue;
    }
    99% {
      border-color: rgb(177, 177, 177);
    } */
    100% {
      transform: rotate(180deg);
      opacity: 1;
    }
  }

  /* social icons part */
  .container {
    flex-direction: row;
  }
  .socials-bg {
    height: 60vh;
  }

  /* first section rotating phone img */

  .rotate-and-zoom-img-div,
  .welcome-text,
  .main-img {
    display: none;
  }
  .welcome-card {
    display: flex;
    position: relative;
    width: 80%;
    height: 80%;
    align-items: center;
    background-color: #26262696;
    border-radius: 20px;
  }

  .welcome-card-content {
    position: relative;
    width: 40%;
    left: 20%;
    color: #f1f1f1;
    transition: 0.5s;
    opacity: 0;
    text-align: center;
  }

  .welcome-card-img {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    height: 120%;
    transition: 0.5s;
  }

  .welcome-card:hover .welcome-card-img,
  .welcome-card.hover_effect .welcome-card-img,
  .welcome-card:focus .welcome-card-img,
  .welcome-card:active .welcome-card-img {
    height: 130%;
    left: 90%;
    bottom: -20%;
  }

  .welcome-card:hover .welcome-card-content,
  .welcome-card.hover_effect .welcome-card-content,
  .welcome-card:focus .welcome-card-content,
  .welcome-card:active .welcome-card-content {
    left: 5%;
    opacity: 1;
  }

  .welcome-card-content h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-align: left;
  }

  .welcome-card-content p {
    margin-bottom: 2em;
    font-size: 1.2rem;
    line-height: 2;
    text-align: left;
  }

  .welcome-card-content a {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    display: inline-block;
    color: #262626;
    padding: 10px 22px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px whitesmoke;
    box-shadow: black 5px 5px 2px;
  }
  .welcome-card-content a:hover,
  .welcome-card-content a.hover_effect,
  .welcome-card-content a:focus,
  .welcome-card-content a:active {
    background-color: #262626;
    padding: 10px 22px;
    color: white;
    border: solid 2px whitesmoke;
    box-shadow: whitesmoke 5px 5px 2px;
  }

  /* card over bg image on hover section  */
  .card {
    font-size: 2.2rem;
  }
  /* image with table over at bottom section */

  .details-table {
    height: 25%;
    font-size: 2rem;
  }

  .table-container:hover .details-table,
  .table-container.hover_effect .details-table,
  .table-container:focus .details-table,
  .table-container:active .details-table {
    height: 40%;
    font-size: 2.25rem;
    background-color: #26262698;
  }

  .details-table th {
    font-size: 2.5rem;
  }

  /* section with spinning background divs */

  .animated-container-text {
    font-size: 3.5rem;
  }

  .text-1 {
    font-size: 5rem;
  }

  .text-2 {
    top: 40%;
  }

  .text-3 {
    top: 50%;
  }

  .text-4 {
    top: 60%;
  }

  .text-5 {
    top: 70%;
  }

  .text-6 {
    top: 80%;
  }
}
